<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.com/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="helloWorld" class="in.careerscale.training.simple.HelloWorldImpl">
	 <property name="myBean" ref="myBean"></property>

	</bean>

	<bean id="application" class="in.careerscale.training.simple.Application" >
		<property name="world" ref="helloWorld"></property>
		<property name="name" value="Harinath"></property>
	</bean>

	<bean id="myBean" class="in.careerscale.training.simple.BeanWithConstructor">
		<constructor-arg>
			<value>Hari</value>
		</constructor-arg>

		<constructor-arg>
			<value>12</value>
		</constructor-arg>
		
		<constructor-arg>
			<ref bean="helloWorld"></ref>
		</constructor-arg>
	</bean>
	
	

</beans>