@CHARSET "ISO-8859-1";

h1{
color: red;
font-size:20px;
background-color: yellow;
}

h1 + #myHeader{
color: green !important;
background-color: orange;
}

.myCustomClass{
color: red;
font-size:40px;
background-color: fuchsia;
}

.myCustomClass + .myChildClass{
color: green !important;
background-color: yellow !important;
}

.myChildClass{
color: green !important;
font-size:60px;
background-color: yellow !important;
}

#myHeader4{
color: green;
font-size:50px;
background-color: fuchsia;

}


